.tabsContainer {
  width: 100%;
  @include animation();
}

.buttonTabs {
  padding: 0 20px;
  margin-bottom: 30px;
  width: fit-content;
  display: flex;
}

.contentContainer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
