@import '../../../mixins';
@import '../../../variables';

.button {
  padding: 8px 15px;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  @extend %transition;
}

.submit, .follow, .followBig {
  background-color: rgba($cyanColor, 0.7);
  border: 1px solid $darkCyanColor;

  &:hover {
    background-color: $cyanColor;
}
}

.follow {
  position: absolute;
    top: 0;
    padding: 4px;
    font-size: 10px;
    left: 30px;
}

.followBig {
  position: static;
}

.reset {
  border: 1px solid rgba($darkCyanColor, 0.7);

  &:hover {
    border-color: $darkCyanColor;
}
}
.tab, .tabActive {
  padding: 5px 30px;
  color: rgba(0,173,181,.7);
  border: 2px solid;
  border-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top: none;
}

.tab {
  color: rgba(0,173,181,.7);
  border-color: rgba(0,173,181,.7);

  &:hover {
    color: $darkCyanColor;
    border-color: $darkCyanColor;
  }
}

.tabActive {
color: $cyanColor;
border-color: $cyanColor;
}
