@import '../../../variables';
@import '../../../mixins';

.label,
.fileLabel {
    position: relative;
    padding: 5px 0;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;

    svg {
        position: absolute;
        top: 12px;
        right: 19px;
        width: 20px;
        height: 20px;
        fill: $darkCyanColor;
        @extend %transition;
    }

    &:hover {
        svg {
            fill: $cyanColor;
        }
    }
}

.fileLabel {
    width: fit-content;
    cursor: pointer;

    svg {
        width: 45px;
        height: 45px;
        position: static;
    }
}

input[type="file"] {
    display: none;
}

.input,
.input:-webkit-autofill {
    padding: 5px 1px;
    width: 100%;
    margin-right: 20px;
    @include fontView(16px, 300);
    color: $cyanColor;
    border-bottom: 1px solid white;
    @extend %transition;

    &:hover,
    &:focus {
        border-bottom-color: $cyanColor;
    }

    &::placeholder {
        @include fontView(14px, 300);
    }

    @media screen and (min-width: 768px) {
      width: 100%;
    }
}
