@import '../../../mixins';
@import '../../../variables';

.section {
  width: 100%;
  padding: 0 10px 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include animation();

  @media screen and(min-width: 469px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
  }

  @media screen and (min-width: 689px) {
    justify-content: center;
  }
}

.title {
  @extend %reset;
  width: 100%;
  margin-bottom: 20px;
  @include fontView(24px, 600);
}

.imageContainer {
  position: relative;
  margin-bottom: 40px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  @media screen and(min-width: 689px) {
    width: 300px;
    height: 300px;
    margin-right: 60px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 40px;
}
