@import '../../mixins';

.sliderImg,
.showSmallImg {
  @extend %transition;

  &:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

.sliderImg {
  min-height: 300px;
}

.preloader {
  width: 110px;
}
